<div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="width: 90%">
		<div class="modal-content">
			<div class="modal-header text-center">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Settings</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-6">
						<h3>Twitter mining</h3>
					</div>
					<div class="col-md-6">
						<h3>Named Entity Recognition</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-md-1">
			    		# of users: <input type="text" ng-model="userCount" class="form-control">
			    	</div>
			    	<div class="col-md-1">
			    		Tweets/user: <input type="text" ng-model="tweetsPerUser" class="form-control">
			    	</div>
			    	<div class="col-md-2">
			    		Processed in groups of: <input type="text" ng-model="concatenation" class="form-control">
			    	</div>
			    	<div class="col-md-3">
			    		<div>Mining mode:</div> 
			    		<div class="btn-group" data-toggle="buttons">
					        <label class="btn btn-default active"><input type="radio" name="year" value="none" checked="">None</label>
					        <label class="btn btn-default"><input type="radio" name="year" value="new">New</label>
					        <label class="btn btn-default"><input type="radio" name="year" value="all">All</label>
					    </div>
			    	</div>
			    	<div class="col-md-1">NER confidence: <input type="text" ng-model="nerConfidence" class="form-control"></div>
			    	<div class="col-md-1">NER support: <input type="text" ng-model="nerSupport" class="form-control"></div>
			    </div>
			    <div class="row">
					<div class="col-md-6">
						<h3>User collection restrictions</h3>
					</div>
					<div class="col-md-6">
						<h3>Clustering</h3>
					</div>
				</div>
			    <div class="row">
			    	<div class="col-md-1">Min. followers: <input type="text" ng-model="minFollowers" class="form-control"></div>
			    	<div class="col-md-1">Max. followers: <input type="text" ng-model="maxFollowers" class="form-control"></div>
			    	<div class="col-md-1">Min. following: <input type="text" ng-model="minFollowing" class="form-control"></div>
			    	<div class="col-md-1">Max. following: <input type="text" ng-model="maxFollowing" class="form-control"></div>
			    	<div class="col-md-1">Min. tweets: <input type="text" ng-model="minTweets" class="form-control"></div>
			    	<div class="col-md-1">Max. tweets: <input type="text" ng-model="maxTweets" class="form-control"></div>
			    	
			    	<div class="col-md-2">
			    		Generality bias (-1 to 1): <input type="text" ng-model="generalityBias" class="form-control">
			    	</div>
			    	<div class="col-md-2">
			    		Similarity threshold: <input type="text" ng-model="minimumSimilarity" class="form-control">
			    	</div>
			    	
			    </div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Save & close</button>
			</div>
		</div>
	</div>
</div>