<!-- Profile image -->
<div class="col-md-2 profile-img-panel">
	<div class="row row-profile-img">
		<div class="col-md-12 col-profile-img text-center">
			<img class="img-responsive img-profile animate-if img-center" ng-if="targetUser.imageVisible" ng-src="{{ targetUser.profileImageURL }}"/>
		</div>
	</div>
	<div class="row english-rate">
		<div class="col-md-12 text-center">
			<span class="text-muted">English rate: </span>
			<strong ng-if="targetUser.englishRate >= minimumEnglishRate" class="animate-if"><em class="text-success text-english-rate"><span ng-bind="targetUser.englishRate*100 | number:0"></span>%</em></strong>
			<strong ng-if="targetUser.englishRate >= 0 && targetUser.englishRate < minimumEnglishRate" class="animate-if"><em class="text-danger text-english-rate-low"><span ng-bind="targetUser.englishRate*100 | number:0"></span>%</em></strong>
			<strong ng-if="targetUser.englishRate == -1"><em>-</em></strong>
		</div>
	</div>
</div>

<!-- Profile info -->
<div class="col-md-3 profile-panel">
	<strong>@<span ng-bind="targetUser.screenName"></span></strong> (<span ng-bind="targetUser.name"></span>)
	<br>
	<br>
	<div class="user-description">
		<small><span ng-bind="targetUser.description"></span></small>
	</div>
	<small><span class="text-muted">Location: </span><em><span ng-bind="targetUser.location">-</span></em></small>
	<br>
	<br>
	<div class="row user-stats">
		<div class="col-md-4 text-center">
			<span class="text-muted">Tweets</span>
			<br><span ng-bind="targetUser.statusesCount"></span>
		</div>
		<div class="col-md-4 text-center">
			<span class="text-muted">Followers</span>
			<br><span ng-bind="targetUser.followersCount"></span>
		</div>
		<div class="col-md-4 text-center">
			<span class="text-muted">Following</span>
			<br><span ng-bind="targetUser.friendsCount"></span>
		</div>
	</div>
</div>

<div class="col-md-7 text-center" style="margin-top: 48px;" ng-if="targetUser.protected">
	<h3 class="text-muted">This user is protected.</h3>
</div>
<div class="col-md-7 text-center" style="margin-top: 48px;" ng-if="!targetUser.protected && targetUser.statusesCount < minTweets">
	<h3 class="text-muted">This user does not have enough tweets.</h3>
</div>
<div class="col-md-7 text-center" style="margin-top: 48px;" ng-if="targetUser.englishRate >= 0 && targetUser.englishRate < minimumEnglishRate">
	<h3 class="text-muted">This user's English rate is too low.</h3>
</div>

<div ng-if="!targetUser.protected">
	<!-- Tweets -->
	<div class="col-md-3 tweet-panel text-center" style="margin-top: 28px;" ng-if="targetUser.loadingTweets">
		<h3 class="text-muted">Getting tweets...</h3>
		<br>
		<i class="fa fa-spinner fa-spin text-loading"></i>
	</div>
	
	<div class="col-md-3 tweet-panel text-center animate-if" ng-if="targetUser.tweets.length > 0 && targetUser.statusesCount >= minTweets && targetUser.englishRate > minimumEnglishRate">
		<div class="row">
			<a class="text-tweet-number" href="" data-toggle="modal" data-target="#tweetModal{{targetUser.screenName}}" ng-click="openModal = $index">
				Got <span ng-bind="targetUser.tweets.length"></span> Tweets
			</a>
			<br>
			<span class="text-retweets">(<span ng-bind="targetUser.retweets"></span> retweets)</span>
		</div>
		<div class="row tag-mention-panel">
			<div class="col-md-6">
				<span class="text-muted">TOP HASHTAGS</span>
				<br>
				<div class="row text-tags" ng-repeat="hashtag in targetUser.hashtags | orderBy: '-occ' | limitTo:'5' ">
					#<span ng-bind="hashtag.tag"></span> (<span ng-bind="hashtag.occ"></span>)
				</div>
			</div>
			<div class="col-md-6">
				<span class="text-muted">TOP MENTIONS</span>
				<br>
				<div class="row text-tags" ng-repeat="mention in targetUser.userMentions | orderBy: '-occ' | limitTo:'5' ">
					@<span ng-bind="mention.mention"></span> (<span ng-bind="mention.occ"></span>)
				</div>
			</div>
		</div>
	</div>
	
	
		<!-- <div class="row" ng-repeat="tweet in targetUser.tweets">
			<div class="col-md-12 col-tweet"><small><span ng-bind="tweet.content"></span></small></div>
		</div> -->
	
	<!-- Ontology -->
	<div class="col-md-4 types-panel text-center" style="margin-top: 28px;" ng-if="targetUser.loadingOntology">
		<h3 class="text-muted">Getting interests...</h3>
		<br>
		<i class="fa fa-spinner fa-spin text-loading"></i>
	</div>
	
	<div class="col-md-4 types-panel animate-show-hide" ng-show="targetUser.userOntology.cfIufMap && targetUser.statusesCount >= minTweets && targetUser.englishRate > minimumEnglishRate">
		<div class="row row-header text-center">
			<a class="text-tweet-number" href="" data-toggle="modal" data-target="#traitModal{{targetUser.screenName}}" ng-click="openModal = $index">
				Top traits (CF-IUF Ranking)
			</a>
		</div>
		<div class="row text-muted">
			<div class="col-md-9">Trait</div>
			<div class="col-md-3">Confidence</div>
		</div>
		<div class="row list-types" ng-repeat="entry in targetUser.userOntology.topTypes">
			<div class="col-md-9"><small><span ng-bind="entry[0]"></span></small></div>
			<div class="col-md-3 col-confidence"><small><span ng-bind="entry[1] | number:2"></small></span></div>
		</div>
	</div>
</div>



