<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Twitter Community Builder</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body ng-app="twitterWeb.app">
    	<!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="row-fluid page-title">
    			<h1 class="text-center text-title"><img class="icon-twit" src="img/twitter-256.png" height="48"> Twitter Community Builder (<strong>Beta</strong>)</h1>
    	</div>
    	
    	<div class="container" id="header" ng-controller="TwitterController">
    		
    		<!-- <div class="modal fade" id="settingsModal" tabindex="-1" role="dialog"
				aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog" style="width: 70%">
					<div class="modal-content">
						<div class="modal-header text-center">
							<button type="button" class="close" data-dismiss="modal">
								<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
							</button>
							<h4 class="modal-title" id="myModalLabel"><i>Settings</i></h4>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="md-col-12" >
									<p></p>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div> -->
    		
    		<div class="row">
    			<div class="col-md-6">
	    			<h3>By seed user:</h3>
		    		<form class="form-target-user" ng-submit="getUser()">
					    <div class="input-group input-group-lg text-muted">
					    	<span class="input-group-addon">@</span>
							<input ng-model="screenName" type="text" class="form-control" init="BarackObama">
							<span class="input-group-btn">
								<button class="btn btn-default" ng-click="getUser()" type="button">Go!</button>
							</span>
					    </div><!-- /input-group -->
				    </form>
			    </div>
			    <div class="col-md-6 text-muted">
	    			<h3>By keyword:</h3>
		    		<form class="form-target-user disabled">
					    <div class="input-group input-group-lg text-muted">
							<input type="text" class="form-control disabled">
							<span class="input-group-btn">
								<button class="btn btn-default disabled" ng-click="getUser()" type="button">Go!</button>
							</span>
					    </div><!-- /input-group -->
				    </form>
			    </div>
			</div>
			
		    <div class="row row-settings" ng-cloak>
	    		<div class="col-md-12 text-center" style="margin-top: 80px;" ng-show="loadingUser"><i class="fa fa-spinner fa-spin text-loading-large"></i></div>
	    	
		    	<div class="col-md-1 animate-show-hide" ng-show="(!targetUser || (screenName | lowercase) != (targetUser.screenName | lowercase)) && !loadingUser">
		    		Tweets/user: <input type="text" ng-model="tweetNumber" class="form-control" placeholder="200">
		    	</div>
		    	<div class="col-md-2 animate-show-hide" ng-show="(!targetUser || (screenName | lowercase) != (targetUser.screenName | lowercase)) && !loadingUser">
		    		Processed in groups of: <input type="text" ng-model="concatenation" class="form-control" placeholder="5">
		    	</div>
		    	<div class="col-md-2 animate-show-hide" ng-show="(!targetUser || (screenName | lowercase) != (targetUser.screenName | lowercase)) && !loadingUser">
		    		<div>Mining mode:</div> 
		    		<div class="btn-group" data-toggle="buttons">
				        <label class="btn btn-default active">
				            <input type="radio" name="year" value="none" checked="">None
				        </label>
				        <label class="btn btn-default">
				            <input type="radio" name="year" value="new">New
				        </label>
				        <label class="btn btn-default">
				            <input type="radio" name="year" value="all">All
				        </label>
				    </div>
		    	</div>
		    	<div class="col-md-2 animate-show-hide" ng-show="(!targetUser || screenName != targetUser.screenName) && !loadingUser">
		    		NER confidence: <input type="text" ng-model="tweetNumber" class="form-control" placeholder="0.2">
		    	</div>
		    	<div class="col-md-2 animate-show-hide" ng-show="(!targetUser || screenName != targetUser.screenName) && !loadingUser">
		    		NER support: <input type="text" ng-model="tweetNumber" class="form-control" placeholder="0">
		    	</div>
		    	
		    	<div class="col-md-1 animate-show-hide" ng-show="targetUser.ontology.sortedYagotypes.length > 0 && !targetUser.network && (screenName | lowercase) == (targetUser.screenName | lowercase)">
		    		Min. followers: <input type="text" ng-model="tweetNumber" class="form-control" placeholder="0">
		    	</div>
		    	<div class="col-md-1 animate-show-hide" ng-show="targetUser.ontology.sortedYagotypes.length > 0 && !targetUser.network && (screenName | lowercase) == (targetUser.screenName | lowercase)">
		    		Max. followers: <input type="text" ng-model="tweetNumber" class="form-control" placeholder="500000">
		    	</div>
		    	
		    	<div class="col-md-1 animate-show-hide" ng-show="targetUser.ontology.sortedYagotypes.length > 0 && !targetUser.network && (screenName | lowercase) == (targetUser.screenName | lowercase)">
		    		Min. following: <input type="text" ng-model="tweetNumber" class="form-control" placeholder="0">
		    	</div>
		    	<div class="col-md-1 animate-show-hide" ng-show="targetUser.ontology.sortedYagotypes.length > 0 && !targetUser.network && (screenName | lowercase) == (targetUser.screenName | lowercase)">
		    		Max. following: <input type="text" ng-model="tweetNumber" class="form-control" placeholder="500000">
		    	</div>
		    	<div class="col-md-1 animate-show-hide" ng-show="targetUser.ontology.sortedYagotypes.length > 0 && !targetUser.network && (screenName | lowercase) == (targetUser.screenName | lowercase)">
		    		Min. tweets: <input type="text" ng-model="tweetNumber" class="form-control" placeholder="0">
		    	</div>
		    	<div class="col-md-1 animate-show-hide" ng-show="targetUser.ontology.sortedYagotypes.length > 0 && !targetUser.network && (screenName | lowercase) == (targetUser.screenName | lowercase)">
		    		Max. tweets: <input type="text" ng-model="tweetNumber" class="form-control" placeholder="500000">
		    	</div>
		    	
		    	<div class="col-md-3 col-md-push-3 text-right animate-show-hide" ng-show="targetUser.ontology.sortedYagotypes.length > 0 && !targetUser.network && (screenName | lowercase) == (targetUser.screenName | lowercase)">
			    	<a class="btn btn-lg btn-success btn-get-network" ng-click="getTargetUserNetwork(targetUser.screenName)" href="#">
 						<i class="fa fa-2x pull-left"></i>Collect followers</a>
		    	</div>

				<div class="col-md-2 animate-show-hide" ng-show="targetUser.network.length > 0 && !processing && (screenName | lowercase) == (targetUser.screenName | lowercase)">
		    		Generality bias (0-1): <input type="text" ng-model="tweetNumber" class="form-control" placeholder="0">
		    	</div>
		    	
		    	<div class="col-md-10 text-right animate-show-hide" ng-show="targetUser.network.length > 0 && !processing && (screenName | lowercase) == (targetUser.screenName | lowercase)" ng-cloak>
		    		<a class="btn btn-lg btn-success btn-get-network" ng-click="processNetwork(0)" href="#">
								<i class="fa fa-2x pull-left"></i>Process network</a>
				</div>
				
				<div class="col-md-1 col-md-push-11 text-center" style="margin-top: 8px;" ng-show="processing && !finished || loadingNetwork || loadingSimilarityGraph  && (screenName | lowercase) == (targetUser.screenName | lowercase)">
		    		<i class="fa fa-spinner fa-spin text-loading"></i>
				</div>
				
				<!-- <div class="col-md-12 text-center" style="margin-top: 8px;" ng-show="loadingSimilarityGraph">
		    		<i class="fa fa-spinner fa-spin text-loading"></i>
				</div> -->
				
				<div class="col-md-2 animate-show-hide" ng-show="finished && !loadingSimilarityGraph && (screenName | lowercase) == (targetUser.screenName | lowercase)">
		    		Similarity threshold: <input type="text" ng-model="tweetNumber" class="form-control" placeholder="0.2">
		    	</div>
				
				
				<div class="col-md-10 text-right animate-show-hide" ng-show="finished && !loadingSimilarityGraph && !finishedSimilarityGraph && (screenName | lowercase) == (targetUser.screenName | lowercase)" ng-cloak>
		    		<a class="btn btn-lg btn-success btn-get-network" ng-click="calculateSimilarityGraph()" href="#">
								<i class="fa fa-2x pull-left"></i>Build similarity graph</a>
				</div>
				
				<div class="col-md-10 text-right animate-show-hide" ng-show="finishedSimilarityGraph && (screenName | lowercase) == (targetUser.screenName | lowercase)" ng-cloak>
		    		<a class="btn btn-lg btn-success btn-get-network" ng-click="clusterNetwork()" href="#">
								<i class="fa fa-2x pull-left"></i>Cluster network</a>
				</div>

		    </div>
		    
		    <div class="row text-center animate-show-hide-slow" ng-show="showSimilarityGraph" ng-cloak>
		    	<h4>Similarity graph (threshold: 0.2)</h4>
		    	<div id="graph" class="graph col-md-12">
		    	</div>
		    </div>
		    
		    <div class="row panel-target-user animate-show-hide" ng-show="targetUser.screenName"
		    			ng-include="'templates/user-panel.html'" ng-cloak></div>
		    	
	    	
			
			<div ng-show="targetUser.network.length > 0" ng-cloak>
				<h3>Follower network:</h3>
			</div>

    		<div infinite-scroll="loadMore()" infinite-scroll-disabled="pageSize >= 100" infinite-scroll-distance='0' ng-cloak>
    				<div class="row panel-target-user" ng-include="'templates/user-panel.html'" ng-repeat="targetUser in targetUser.network | limitTo:pageSize"></div>
    		</div>
    		
    		<!-- Tweet Modal -->
			<!-- <div class="modal fade" id="tweetModal{{targetUser.screenName}}" tabindex="-1" role="dialog"
				aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog" style="width: 70%">
					<div class="modal-content">
						<div class="modal-header text-center">
							<button type="button" class="close" data-dismiss="modal">
								<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
							</button>
							<h4 class="modal-title" id="myModalLabel"><i>All tweets by <span ng-bind="targetUser.name"></span></i></h4>
						</div>
						<div class="modal-body">
							<div class="row" ng-repeat="tweet in targetUser.tweets">
								<div class="md-col-12" style="padding-left: 16px; padding-right: 16px;">
									<p><strong><span ng-bind="tweet.createdAt"></span></strong>: <span ng-bind="tweet.content"></span></p>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div> -->
    	</div>
    	
    	

	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-animate.min.js"></script>
        <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        
        <script src="js/vendor/ng-infinite-scroll.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
        <script src="js/angular/apps.js"></script>
        <script src="js/angular/controllers.js"></script>
        <script src="js/angular/services.js"></script>

        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>
