<!DOCTYPE html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Twitter Interest Community Builder</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/main.css">
	<script src="js/vendor/modernizr-2.6.2.min.js"></script>
</head>
    
<body ng-app="twitterWeb.app">
	<div class="container-fluid page-title">
		<h1 class="text-center text-title"><img class="icon-twit" src="img/twitter-256.png" height="48"> Twitter Interest Community Builder (<strong>Beta</strong>)</h1>
	</div>
    	
    <div class="container" ng-controller="TwitterController">    	
   		<div class="row">
   			<div class="col-md-6">
    			<h3>By seed user:</h3>
	    		<form class="form-target-user" ng-submit="getUser()">
				    <div class="input-group input-group-lg text-muted">
				    	<span class="input-group-addon">@</span>
						<input ng-model="screenName" type="text" class="form-control">
						<span class="input-group-btn">
							<button class="btn btn-default" ng-click="getUser()" type="button">Go!</button>
						</span>
				    </div>
			    </form>
		    </div>
		    <div class="col-md-6 text-muted">
    			<h3>By keyword:</h3>
	    		<form class="form-target-user disabled">
				    <div class="input-group input-group-lg text-muted">
						<input type="text" class="form-control disabled">
						<span class="input-group-btn">
							<button class="btn btn-default disabled" ng-click="getUser()" type="button">Go!</button>
						</span>
				    </div>
			    </form>
		    </div>
		</div>

		<div class="row row-settings" ng-cloak>
    		<div class="col-md-12 spinner-large text-center" ng-if="loadingUser"><i class="fa fa-spinner fa-spin"></i></div>

			<div class="animate-if" ng-if="!loadingUser && (!targetUser || userChanged())">
		    	<div class="col-md-1">
		    		Tweets/user: <input type="text" ng-model="tweetNumber" class="form-control" placeholder="200">
		    	</div>
		    	<div class="col-md-2">
		    		Processed in groups of: <input type="text" ng-model="concatenation" class="form-control" placeholder="50">
		    	</div>
		    	<div class="col-md-2">
		    		<div>Mining mode:</div> 
		    		<div class="btn-group" data-toggle="buttons">
				        <label class="btn btn-default active"><input type="radio" name="year" value="none" checked="">None</label>
				        <label class="btn btn-default"><input type="radio" name="year" value="new">New</label>
				        <label class="btn btn-default"><input type="radio" name="year" value="all">All</label>
				    </div>
		    	</div>
		    	<div class="col-md-2">NER confidence: <input type="text" ng-model="tweetNumber" class="form-control" placeholder="0.2"></div>
		    	<div class="col-md-2">NER support: <input type="text" ng-model="tweetNumber" class="form-control" placeholder="0"></div>
		    </div>
		    
		    <h1 class="col-md-12 text-center text-muted" style="margin-top: 64px;" ng-if="noUserFound">No user found with that screen name.</h1>
	    	
	    	<div class="animate-if" ng-if="targetUser.ontology.sortedYagotypes.length > 0 && !targetUser.network && !userChanged()">
		    	<div class="col-md-1">Min. followers: <input type="text" ng-model="tweetNumber" class="form-control" placeholder="50"></div>
		    	<div class="col-md-1">Max. followers: <input type="text" ng-model="tweetNumber" class="form-control" placeholder="1000"></div>
		    	<div class="col-md-1">Min. following: <input type="text" ng-model="tweetNumber" class="form-control" placeholder="50"></div>
		    	<div class="col-md-1">Max. following: <input type="text" ng-model="tweetNumber" class="form-control" placeholder="1000"></div>
		    	<div class="col-md-1">Min. tweets: <input type="text" ng-model="tweetNumber" class="form-control" placeholder="150"></div>
		    	<div class="col-md-1">Max. tweets: <input type="text" ng-model="tweetNumber" class="form-control" placeholder="10000"></div>
		    	
		    	<div class="col-md-2 col-md-push-4 text-right">
			    	<a class="btn btn-lg btn-success btn-get-network" ng-click="getTargetUserNetwork(targetUser.screenName)" href="#">
							<i class="fa fa-2x pull-left"></i>Collect followers</a>
	    		</div>
	    	</div>
	    	
	    	<div class="col-md-2 col-md-pull-2 animate-show-hide" ng-show="targetUser.ontology.sortedYagotypes.length > 0 && !targetUser.network && (screenName | lowercase) == (targetUser.screenName | lowercase)">
				<input type="file" id="files">
				<button id="upload" class="btn btn-default" type="button">Upload DCG file</button>
		    </div>
	    	

			<div class="col-md-2 col-md-push-5 animate-if" ng-if="targetUser.network.length > 0 && !processing && (screenName | lowercase) == (targetUser.screenName | lowercase)">
	    		Generality bias (0-1): <input type="text" ng-model="tweetNumber" class="form-control" placeholder="0">
	    	</div>
	    	
	    	<div class="col-md-10 text-right animate-if" ng-if="targetUser.network.length > 0 && !processing && (screenName | lowercase) == (targetUser.screenName | lowercase)" ng-cloak>
	    		<a class="btn btn-lg btn-success btn-get-network" ng-click="processNetwork(0)" href="#">
							<i class="fa fa-2x pull-left"></i>Process network</a>
			</div>
			
			<div class="col-md-1 col-md-push-11 text-center" style="margin-top: 8px;" ng-if="processing && !finished || loadingNetwork || loadingSimilarityGraph  && (screenName | lowercase) == (targetUser.screenName | lowercase)">
	    		<i class="fa fa-spinner fa-spin text-loading"></i>
			</div>
			
			<div class="col-md-2 col-md-push-5 animate-if" ng-if="finished && !loadingSimilarityGraph && (screenName | lowercase) == (targetUser.screenName | lowercase)">
	    		Similarity threshold: <input type="text" ng-model="minimumSimilarity" class="form-control" placeholder="0.2">
	    	</div>
			
			
			<div class="col-md-10 text-right animate-if" ng-if="finished && !loadingSimilarityGraph && !finishedSimilarityGraph && (screenName | lowercase) == (targetUser.screenName | lowercase)" ng-cloak>
	    		<a class="btn btn-lg btn-success btn-get-network" ng-click="calculateSimilarityGraph()" href="#">
							<i class="fa fa-2x pull-left"></i>Cluster network</a>
			</div>
		</div>
		    
		<div class="row text-center animate-show-hide" ng-show="showSimilarityGraph" ng-cloak>
	    	<h4>Clustering...</h4>
	    	<div id="graph" class="graph col-md-12"></div>
		</div>
		    
		<div class="row panel-target-user animate-if" ng-if="targetUser.screenName" ng-include="'templates/user-panel.html'" ng-cloak></div>

		<div ng-if="targetUser.network.length > 0" ng-cloak>
			<h3>Follower network:</h3>
		</div>

   		<div infinite-scroll="loadMore()" infinite-scroll-disabled="pageSize >= 300" infinite-scroll-distance='0' ng-cloak>
   				<div class="row panel-target-user" ng-include="'templates/user-panel.html'" ng-repeat="targetUser in targetUser.network | limitTo:pageSize"></div>
   		</div>
    </div>
    
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-animate.min.js"></script>
	<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
       
	<script src="js/vendor/ng-infinite-scroll.min.js"></script>
	<script src="js/plugins.js"></script>
	<script src="js/main.js"></script>
	<script src="js/angular/apps.js"></script>
	<script src="js/angular/controllers.js"></script>
	<script src="js/angular/services.js"></script>
</body>
</html>
